
    <h1> Clothing items</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col">
        </div>
        <div class="col" style="background-color: rgb(77, 101, 106);">
            <h1 align = "center" >HYPEBEAST</h1>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-articulo-list></app-articulo-list>
    </div>
    <div class="col">
      <h5>aaa</h5>
    </div>
  </div>
  </div>


<section>
    <footer align = "center">
        shop with us!
    </footer>
</section>
